$white: #fff;
$gold: #d6c78e;
$darkgold: #9b9165;
$light-red: rgb(255, 0, 66); // #ff0042
$red: rgb(160, 28, 53); // #a01c35
$dark: #232323;
$darker: #191919;

$red-gradient: linear-gradient(to right, #a01c35, #ff0042);
$red-gradient2: linear-gradient(90deg, #a01c35, #ff0042);