$white: #fff;

$light-red: rgb(255, 0, 66); // #ff0042
$red: rgb(160, 28, 53); // #a01c35

$light-green: rgb(0, 250, 66);
$green: rgb(28, 160, 53);

$light-blue: rgb(66, 0, 250);
$blue: rgb(53, 28, 160);

$dark: #232323;
$darker: #191919;

$red-gradient: linear-gradient(to right, rgb(160, 28, 53), rgb(255, 0, 66));
$green-gradient: linear-gradient(to right, rgb(28, 160, 53), rgb(0, 250, 66));
$blue-gradient: linear-gradient(to right, rgb(53, 28, 160), rgb(66, 0, 250));
// $red-gradient2: linear-gradient(90deg, #a01c35, #ff0042);

