.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.default {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message {
	display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;

	button {
		font-size: 3rem;
		background-color: white;
		border: 1px solid black;
		padding: .25em .5em;
		cursor: pointer;
	}

	button:hover {
		background-color: black;
		color: white;
		border-color: white;
	}

	&.show {
		display: flex;
	}
}

.hidden {
	display: none !important;
}