.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.default {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none !important;
}