@import './colors';
@import './components';
@import './mixins';


:root {
	--white: rgb(255, 255, 255);

	--light-red: rgb(255, 0, 66); // #ff0042
	--red: rgb(160, 28, 53); // #a01c35
	--light-green: rgb(0, 250, 66);
	--green: rgb(28, 160, 53);
	--light-blue: rgb(66, 0, 250);
	--blue: rgb(53, 28, 160);

	--light-dark: #2f3640;
	--dark: rgb(35, 35, 35); // #232323
	--darker: #191919;

	--lighter-dark: #414b57;
	--xd: #0d141f;
	--thumb: #525861;

	--red-gradient: linear-gradient(to right, var(--red), var(--light-red));
	--light-red-opacity: rgba(255, 0, 66, 0.2);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: var(--white);
	background-color: var(--dark);
	overflow: hidden;
}

/* START-PANEL SECTION */
.start-panel {

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.form__name {
			position: relative;
			padding: 1.5rem 0 0;
			width: 50%;

			.name__input {
				width: 100%;
				border: 0;
				border-bottom: 2px solid var(--red);
				outline: 0;
				font-size: 1.8rem;
				color: var(--white);
				padding: 0.5rem 0;
				background: transparent;
				transition: border-color 1s;

				&::placeholder {
					color: transparent;
				}

				&:placeholder-shown ~ .name__label {
					font-size: 1.6rem;
					cursor: text;
					top: 2rem;
				}
			}

			.name__label {
				position: absolute;
				top: 0;
				display: block;
				transition: 0.2s;
				font-size: 1rem;
				color: var(--white);
			}

			.name__input:focus {
				~ .name__label {
					position: absolute;
					top: 0;
					display: block;
					transition: 0.2s;
					font-size: 1.3rem;
					color: var(--red);
					font-weight: 700;
				}
				padding-bottom: 0.6rem;
				font-weight: 700;
				border-width: 0.3rem;
				border-image: var(--red-gradient);
				border-image-slice: 1;
			}

			.name__input {
				&:required,
				&:invalid {
					box-shadow: none;
				}
			}
		}
	}

	&__control-panel {
		display: flex;

		.panel__button-continue {
			@include button;
		}

		.panel__button-settings {
			margin-left: 2rem;
			border: 0.2rem solid var(--red);
			border-radius: 50%;
			padding: 1rem 2rem;
			position: relative;

			&:before {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: var(--red-gradient);
				box-shadow: 0 1rem 1.5rem var(--light-red-opacity); // rgba($light-red, 0.2)
				border-radius: 50%;
				transition: opacity 0.5s ease;
				opacity: 0;
			}

			&:hover::before {
				opacity: 1;
			}

			// &:hover {
			// 	background-image: linear-gradient(90deg, #a01c35, #ff0042);
			// }

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 2.6rem;
				height: 2.6rem;
				// background: url('/dist/img/whiteSettings.png') no-repeat 50% 50%;
				mask: url('/dist/img/settings.svg') no-repeat 50% 50%;
				background: var(--white);
				background-size: 100% auto;
			}
		}
	}
}

@media (max-width: 767px) {
	.start-panel {
		justify-content: space-between;
		overflow: hidden;

		&__desktop-logo {
			display: none;
		}

		&::before {
			content: '';
			margin-left: auto;
			margin-top: -2rem;
			margin-right: -6rem;
			@include circle;
			transform: scale(1.5);
		}

		&::after {
			content: '';
			margin-left: -6rem;
			margin-bottom: -2rem;
			margin-right: auto;
			@include cross;
			transform: scale(1.5);
		}
	}
}

@media (max-width: 348px) {
	.start-panel {
		&::before {
			margin-top: -3rem;
			transform: scale(1);
		}

		&::after {
			margin-bottom: -3rem;
			transform: scale(1);
		}

		&__form {
			.form__title {
				font-size: 2rem;
			}
		}

		&__control-panel {
			.panel__button-settings {
				border-radius: 4rem;

				&:after {
					width: 2rem;
					height: 2rem;
				}

				&:before {
					border-radius: 4rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.start-panel {
		&__desktop-logo {
			display: flex;

			.logo__circle {
				@include circle;
			}

			.logo__cross {
				@include cross;
			}
		}

		&__form {
			margin-top: 1rem;

			.form__name {
				margin-left: 20%;

				.name__input {
					width: 60%;
				}
			}
		}

		&__control-panel {
			margin-top: 20%;
		}
	}
}

/* SETTINGS SECTION  */
.settings {

	&__logo {
		display: flex;

		.logo__circle {
			@include circle;
		}

		.logo__cross {
			@include cross;
		}
	}

	&__options-list {
		margin-top: 4rem;
		width: 50%;

		.list__item {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			// background-color: goldenrod;
			padding: 2rem;
			padding-bottom: 0;

			.item__tag {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;

				.tag__icon {
					width: 3.2rem;
					height: 3.2rem;
					// background-size: contain;
					background-repeat: no-repeat;
					// background-size: 100% auto;

					&.icon--dark-mode {
						mask: url('/dist/img/moon.svg');
						background: var(--white);
					}

					&.icon--difficulty {
						mask: url('/dist/img/gauge.svg');
						background: var(--white);
					}

					&.icon--layout {
						mask: url('/dist/img/palette.svg');
						background: var(--white);
					}
				}

				.tag__title {
					margin-left: 0.5rem;
					// line-height: 3.2rem;
					// font-size: 1.8rem;
				}
			}

			.item__select-box {
				display: flex;
				width: 200px;
				flex-direction: column;

				.options-container {
					background: var(--light-dark);
					color: #f5f6fa; // #f5f6fa
					max-height: 0;
					width: 100%;
					opacity: 0;
					transition: all 0.4s;
					border-radius: 8px;
					overflow: hidden;

					order: 1;

					&.active {
						max-height: 240px;
						opacity: 1;
						overflow-y: scroll;

						+ .selected::after {
							transform: rotateX(180deg);
							top: 9px;
						}
					}

					&::-webkit-scrollbar {
						width: 8px;
						background: var(--xd);
						border-radius: 0 8px 8px 0;
					}

					&::-webkit-scrollbar-thumb {
						background: var(--thumb);
						border-radius: 0 8px 8px 0;
					}
				}

				.selected {
					background: var(--light-dark);
					border-radius: 8px;
					margin-bottom: 8px;
					color: #f5f6fa;
					position: relative;

					order: 0;

					&::after {
						content: '';
						background: url('/dist/img/arrow-down.svg');
						background-size: contain;
						background-repeat: no-repeat;

						position: absolute;
						height: 100%;
						width: 25px;
						height: 25px;
						right: 10px;
						top: 9px;

						transition: all 0.4s;
					}
				}

				.option,
				.selected {
					padding: 12px 24px;
					cursor: pointer;
				}

				.option:hover {
					background: var(--lighter-dark);
				}

				.option {
					.radio {
						display: none;
					}
				}

				label {
					cursor: pointer;
				}
			}
		}
	}

	&__control-panel {
		.panel__button-back {
			margin-top: 5rem;

			@include button;
		}
	}
}

@media (max-width: 768px) {
	.settings {
		&__options-list {
			width: 100%;
		}
	}
}

@media (max-width: 348px) {
	.settings {

		&__logo {
			transform: scale(0.7);
		}

		&__title {
			margin-top: -2.5rem;
		}

		&__options-list {
			margin-top: 1rem;

			.list__item {
				.item__select-box {
					width: 150px;
				}
			}
		}

		&__control-panel {
			.panel__button-back {
				margin-top: 3rem;
			}
		}
	}
}

/* PLAY MODE SECTION */
.mode-panel {

	&__logo {
		display: flex;

		.logo__circle {
			@include circle;
		}

		.logo__cross {
			@include cross;
		}
	}

	&__control-panel {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 5rem;

		.panel__button-ai {
			@include button;
			text-transform: none;
			margin-top: 1.5rem;
		}

		.panel__button-friend {
			@include button;
			text-transform: none;
			margin-top: 1.5rem;
		}
	}
}

@media (max-width: 348px) {
	.mode-panel {
		

		&__logo {
			transform: scale(0.7);
		}

		&__control-panel {
			.panel__title {
				font-size: 2rem;
			}

			margin-top: 2rem;
		}
	}
}

