*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$white: #fff;
$gold: #d6c78e;
$darkgold: #9b9165;
$red: #a01c35;
$dark: #232323;
$darker: #191919;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: $white;
	background-color: $dark;
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	// background: #000;
	max-height: 100vh;
}

.test {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.start-panel {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

  .panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

	&__form {
		position: relative;
		padding: 1.5rem 0 0;
		// margin-top: -10rem;
		width: 50%;

		input {
			width: 100%;
			border: 0;
			border-bottom: 2px solid $red;
			outline: 0;
			font-size: 1.8rem;
			color: $white;
			padding: 0.5rem 0;
			background: transparent;
			transition: border-color 1s;

			&::placeholder {
				color: transparent;
			}

			&:placeholder-shown ~ label {
				font-size: 1.6rem;
				cursor: text;
				top: 2rem;
			}
		}

		label {
			position: absolute;
			top: 0;
			display: block;
			transition: 0.2s;
			font-size: 1rem;
			color: $white;
		}

		input:focus {
			~ label {
				position: absolute;
				top: 0;
				display: block;
				transition: 0.2s;
				font-size: 1.3rem;
				color: $red;
				font-weight: 700;
			}
			padding-bottom: 0.6rem;
			font-weight: 700;
			border-width: 0.3rem;
			// border-image: linear-gradient(to right, $white, $red);
			border-image: linear-gradient(to right, #a01c35, #ff0042);
			border-image-slice: 1;
		}

		input {
			&:required,
			&:invalid {
				box-shadow: none;
			}
		}
	}

	.control-panel {
    display: flex;

    &__btn {
			// margin-top: 5rem;
			&.primary {
				border-color: #a01c35;
				color: #ffffff;
				&:hover {
					background: linear-gradient(90deg, #a01c35, #ff0042);
					border-color: #a01c35;
					color: #ffffff;
					padding-right: 50px;
					box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
					&:after {
						transform: translate3d(0, 0, 0);
						opacity: 1;
						transition-delay: 0.3s;
					}
				}
			}
			padding: 10px 30px;
			// font-family: 'Montserrat';
			font-size: 12px;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			display: inline-block;
			border: 2px solid transparent;
			border-radius: 40px;
			position: relative;
			line-height: 1.8;
			transition: all 0.6s ease;
			cursor: pointer;
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translate3d(-5px, 0, 0);
				width: 14px;
				height: 11px;
				margin-top: -5px;
				display: block;
				background: url('/dist/img/rightArrow.png') no-repeat 50% 50%;
				background-size: 100% auto;
				transition: all 0.4s ease;
				opacity: 0;
				pointer-events: none;
			}
			/* reset */
			// a {
			text-decoration: none;
			// }
		}

		&__settings {
			background-color: transparent;
			margin-left: 20px;
			border: 2px solid $red;
			border-radius: 50%;
			padding: 10px 20px;
			position: relative;
			overflow: hidden;

			&:before {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(90deg, #a01c35, #ff0042);
				transition: opacity 0.5s ease;
				opacity: 0;
			}

			&:hover::before {
				opacity: 1;
			}

			// &:hover {
			// 	background-image: linear-gradient(90deg, #a01c35, #ff0042);
			// }

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 32px;
				height: 32px;
				background: url('/dist/img/whiteSettings.png') no-repeat 50% 50%;
				background-size: 100% auto;
			}
		}
	}
}


@media (min-width: 768px) {
  .start-panel {
    &__form {
      margin-left: 20%;

      input {
       width: 60%;  
      }
    }
  }
}

@media (max-width: 1199px) {
	.test {
		overflow: hidden;
	}

	.desktop {
		display: none;
	}

	.cross {
		margin-right: auto;
		margin-left: -25px;
		// background: linear-gradient(to right, $red, $red);
    background: linear-gradient(90deg, #a01c35, #ff0042);
		height: 150px;
		position: relative;
		width: 50px;
		transform: rotate(315deg);

		&::after {
			// background: linear-gradient(to right, $white, $red);
      background: linear-gradient(90deg, #a01c35, #ff0042);
			content: '';
			height: 50px;
			left: -50px;
			position: absolute;
			top: 50px;
			width: 150px;
		}
	}

	.circle {
		margin-left: auto;
		margin-right: -75px;
		// background: linear-gradient(to right, $white, $red);
    background: linear-gradient(90deg, #a01c35, #ff0042);
		height: 150px;
		width: 150px;
		position: relative;
		border-radius: 50%;
		box-shadow: -3px 5px 50px -10px rgba(227, 143, 24, 1);
		// transform: rotate(135deg);

		&::after {
			background: $white;
			content: '';
			height: 50px;
			left: 50px;
			position: absolute;
			top: 50px;
			width: 50px;
			border-radius: 50%;
		}
	}
}

@media (min-width: 1200px) {

	.desktop {
		display: flex;
		justify-content: center;
		margin-left: -42px;
	}

	.cross-desktop {
    background-color: transparent;
    background: none;
		height: 150px;
    width: 50px;
    position: relative;
    box-shadow: 0px 35px 20px -20px rgba(255, 255, 255, 0.5);

		&::after {
			// background: linear-gradient(to right, $white, $red);
			background: linear-gradient(90deg, #a01c35, #ff0042);
			content: '';
			height: 50px;
			left: -50px;
			position: absolute;
			top: 50px;
			width: 150px;
      transform: rotate(315deg);
		}

    &::before {
      background: linear-gradient(90deg, #a01c35, #ff0042);
      content: '';
      height: 150px;
      width: 50px;
      position: absolute;
      // box-shadow: -3px 5px 50px -10px rgba(227, 143, 24, 1);
      transform: rotate(315deg);
    }

	}

	.circle-desktop {
		// background: linear-gradient(to right, $white, $red);
    background: linear-gradient(90deg, #a01c35, #ff0042);
		height: 150px;
		width: 150px;
		position: relative;
		border-radius: 50%;
		// box-shadow: 0px 50px 20px -20px rgba(255, 0, 66, .5);
    box-shadow: 0px 35px 20px -20px rgba(255, 255, 255, 0.5);
		// transform: rotate(135deg);

		&::after {
			// background: $white;
      background: $dark;
			content: '';
			height: 50px;
			left: 50px;
			position: absolute;
			top: 50px;
			width: 50px;
			border-radius: 50%;
		}
	}
}

.hidden {
	display: none;
}
