@import './colors';
@import './components';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	color: $white;
	background-color: $dark;
	overflow: hidden;
}

/* START-PANEL SECTION */
.start-panel {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		.form__name {
			position: relative;
			padding: 1.5rem 0 0;
			width: 50%;

			.name__input {
				width: 100%;
				border: 0;
				border-bottom: 2px solid $red;
				outline: 0;
				font-size: 1.8rem;
				color: $white;
				padding: 0.5rem 0;
				background: transparent;
				transition: border-color 1s;

				&::placeholder {
					color: transparent;
				}

				&:placeholder-shown ~ .name__label {
					font-size: 1.6rem;
					cursor: text;
					top: 2rem;
				}
			}

			.name__label {
				position: absolute;
				top: 0;
				display: block;
				transition: 0.2s;
				font-size: 1rem;
				color: $white;
			}

			.name__input:focus {
				~ .name__label {
					position: absolute;
					top: 0;
					display: block;
					transition: 0.2s;
					font-size: 1.3rem;
					color: $red;
					font-weight: 700;
				}
				padding-bottom: 0.6rem;
				font-weight: 700;
				border-width: 0.3rem;
				border-image: $red-gradient;
				border-image-slice: 1;
			}

			.name__input {
				&:required,
				&:invalid {
					box-shadow: none;
				}
			}
		}
	}

	&__control-panel {
		display: flex;

		.panel__button-continue {
			@include button;
		}

		.panel__button-settings {
			margin-left: 2rem;
			border: 0.2rem solid $red;
			border-radius: 50%;
			padding: 1rem 2rem;
			position: relative;

			&:before {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: $red-gradient2;
				box-shadow: 0 1rem 1.5rem rgba($light-red, 0.2);
				border-radius: 50%;
				transition: opacity 0.5s ease;
				opacity: 0;
			}

			&:hover::before {
				opacity: 1;
			}

			// &:hover {
			// 	background-image: linear-gradient(90deg, #a01c35, #ff0042);
			// }

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 3.2rem;
				height: 3.2rem;
				background: url('/dist/img/whiteSettings.png') no-repeat 50% 50%;
				background-size: 100% auto;
			}
		}
	}
}

@media (max-width: 767px) {
	.start-panel {
		justify-content: space-between;
		overflow: hidden;

		&__desktop-logo {
			display: none;
		}

		&::before {
			content: '';
			margin-left: auto;
			margin-top: -2rem;
			margin-right: -6rem;
			width: 150px;
			height: 170px;
			background-image: url('/src/circle.svg');
			transform: scale(1.5);
		}

		&::after {
			content: '';
			margin-left: -6rem;
			margin-bottom: -2rem;
			margin-right: auto;
			width: 150px;
			height: 170px;
			background-image: url('/src/cross.svg');
			transform: scale(1.5);
		}
	}
}

@media (max-width: 348px) {
	.start-panel {
		&::before {
			margin-top: -3rem;
			transform: scale(1);
		}

		&::after {
			margin-bottom: -3rem;
			transform: scale(1);
		}
	}
}

@media (min-width: 768px) {
	.start-panel {
		&__desktop-logo {
			display: flex;

			.logo__circle {
				width: 15rem;
				height: 17rem;
				background-image: url('/src/circle.svg');
			}

			.logo__cross {
				width: 15rem;
				height: 17rem;
				background-image: url('/src/cross.svg');
			}
		}

		&__form {
			margin-top: 1rem;

			.form__name {
				margin-left: 20%;

				.name__input {
					width: 60%;
				}
			}
		}

		&__control-panel {
			margin-top: 20%;
		}
	}
}

/* SETTINGS SECTION  */
.settings {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__logo {
		display: flex;

		.logo__circle {
			width: 15rem;
			height: 17rem;
			background-image: url('/src/circle.svg');
		}

		.logo__cross {
			width: 15rem;
			height: 17rem;
			background-image: url('/src/cross.svg');
		}
	}

	&__options-list {
		margin-top: 4rem;
		width: 50%;

		.list__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			// background-color: goldenrod;
			padding: 2rem;
			padding-bottom: 0;

			.item__tag {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;

				.tag__icon {
					width: 3.2rem;
					height: 3.2rem;
					// background-size: contain;
					background-repeat: no-repeat;
					// background-size: 100% auto;

					&.icon--dark-mode {
						background: url('/src/moon.svg'); // no-repeat 50% 50%;
					}

					&.icon--difficulty {
						background: url('/src/gauge-solid.svg'); // no-repeat 50% 50%;
					}

					&.icon--layout {
						background: url('/src/palette.svg'); // no-repeat 50% 50%;
					}
				}

				.tag__title {
					margin-left: 0.5rem;
					// line-height: 3.2rem;
					// font-size: 1.8rem;
				}
			}

			.item__select-box {
				display: flex;
				width: 200px;
				flex-direction: column;

				.options-container {
					background: #2f3640;
					color: #f5f6fa;
					max-height: 0;
					width: 100%;
					opacity: 0;
					transition: all 0.4s;
					border-radius: 8px;
					overflow: hidden;

					order: 1;

					&.active {
						max-height: 240px;
						opacity: 1;
						overflow-y: scroll;

						+ .selected::after {
							transform: rotateX(180deg);
							top: 6px;
						}
					}

					&::-webkit-scrollbar {
						width: 8px;
						background: #0d141f;
						border-radius: 0 8px 8px 0;
					}

					&::-webkit-scrollbar-thumb {
						background: #525861;
						border-radius: 0 8px 8px 0;
					}
				}

				.selected {
					background: #2f3640;
					border-radius: 8px;
					margin-bottom: 8px;
					color: #f5f6fa;
					position: relative;

					order: 0;

					&::after {
						content: '';
						background: url('/src/arrow-down.svg');
						background-size: contain;
						background-repeat: no-repeat;

						position: absolute;
						height: 100%;
						width: 32px;
						height: 32px;
						right: 10px;
						top: 5px;

						transition: all 0.4s;
					}
				}

				.option,
				.selected {
					padding: 12px 24px;
					cursor: pointer;
				}

				.option:hover {
					background: #414b57;
				}

				.option {
					.radio {
						display: none;
					}
				}

				label {
					cursor: pointer;
				}
			}
		}
	}

	&__control-panel {
		.panel__button-back {
			margin-top: 5rem;

			@include button;
		}
	}
}

@media (max-width: 768px) {
	.settings {
		&__options-list {
			width: 100%;
		}
	}
}